@import "./variables.scss";
@import "./mixins.scss";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    padding: 0%;
    margin: 0%;
}
body {
    overflow-x: hidden;
}
header { 
    width: 80%;
    margin: 3% 10%;
    .logo {
        float: left;
        width: 20%;
        padding: 5px;
        img.active {
            display: none;
        }
    }
    nav {
        float: right;
        width: 60%;
        ul {
            list-style: none;
            @include flex(row);
            justify-content: space-evenly;
            li {
                padding: 10px;               
                a {
                    text-decoration: none;                   
                }
                #login-item {
                    color: #fff;
                }
            }
            #last-child{
                background-color: $primarycolor2;
                padding: 10px 35px;
                border-radius: 7px;
            }
        }
        .social-icons {
            display: none;
        }
    }
    .clearfix {
        clear: both;
        margin-bottom: 5%;
    }
}
@media only screen and (min-width:700px) and (max-width:800px){
    header {
        width: 90%;
        margin: 3% auto;
        nav {
            width: 70%;
            .logo {
                padding: 0;
            }
            ul {
                li {
                    padding: 5px;
                }
                #last-child{
                    padding: 5px 25px;
                }
            }
        }
    }
}
@media only screen and (max-width:700px){
    header {
        @include flex(column);
        width: 100%;
        margin: 5% auto;
        .logo {
            float: none;
            @include flex(row);
            justify-content: space-between;
            width: 80%;
            margin: auto 10%;
            .menu-icons::before {
                content: "\f0c9";
                font-family: fontAwesome;
                line-height: 20px;
            }
            .menu-icons.active::before {
                content: "\f00d";
            }
        }
        nav {
            float: none;
            width: 90%;
            margin: auto 5%;
            display: none;
            ul {
                flex-direction: column;
                text-align: center;
            }
        }
    }
    header.active {
        background-color: $neutralcolor2;
        opacity: .9;
        position: absolute;
        z-index: 1;
        top: 0%;
        margin: 0%;
        height: 100vh;
        display: block;
        .logo {
            margin: 10% 10%;
            img {
                display: none;
            }
            img.active {
                display: block;
            }
            .menu-icons.active::before {
                color: #fff;
            }
        }
        nav {
            display: block;
            ul {
                li {
                    border-bottom: 0.5px solid #fff;
                    a {
                        color: #fff;
                    }                   
                }
                li:first-child {
                    border-top: 0.5px solid #fff;
                }
                #last-child {
                    border: 2px solid #fff;
                    border-radius: 5px;
                    background-color: transparent;
                    font-weight: 700;
                    margin-top: 5%;
                }
            }
            .social-icons {
                display: block;
                width: 20%;
                margin: 40% 40% auto 40%;
                display: flex;
                justify-content: space-between;
                a {
                    margin: 0%;
                    color: #fff;
                    font-size: 1.3em;
                }
                a:hover {
                    color: $primarycolor2;
                }
            }
        }
    }
}
.hero-sec {
    @include flex(row);
    justify-content: space-between;
    .text-sec {
        @include flex(column);
        padding: 5% 7% 5% 10%;
        h1 {
            font-family: 'Rubik', sans-serif;
            font-weight: 900;
        }
        p {
            padding-top: 5%;
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
        }
        .hero-buttons {
            padding-top: 5%;
            display: flex;
            #btn-1 {
                margin-right: 10%;
                color: #fff;
                background-color: $primarycolor2;
            }
            #btn-2 {
                color: black;
            }
            button {
                font-family: 'Rubik', sans-serif;
                font-weight: 400;
                padding: 15px;
                border-radius: 5px;
                border: none;
            }
        }
    }
    .hero-img {
        position: relative;
        .shape {
            background-color: $primarycolor1;
            height: 80%;
            width: 100%;
            position: absolute;
            z-index: -1;
            top: 20%;
            right: -20%;
            border-radius: 100px;
        }
        img {
            z-index: 1;
            right: 5%;
        }
    }
}
@media only screen and (max-width: 700px){
    .hero-sec {
        flex-direction: column-reverse;
        justify-content: center;
        .text-sec {
            text-align: center;
            h1 {
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
            .hero-buttons {
                justify-content: center;
                button {
                    padding: 10px;
                }
            }
        }
        .hero-img {
            .shape {
                max-width: 100%;
                right: -30%;
            }
            img {
                max-width: 100%;
            }
           
        }
    }
}
.tab-sec {
    margin-top: 5%;
    .text-sec {
        @include flex(column);
        align-items: center;
        h1 {
            font-family: 'Rubik', sans-serif; 
            margin-bottom: 2%;
        }
        p {
            margin: auto 32%;
            text-align: center;
            font-family: 'Rubik', sans-serif; 
        }
    }    
}
.tabs {
    width: 100%;
    .tab-links {
        @include flex(row);
        justify-content: space-between;
        width: 50%;
        margin: auto 25%;
        border-bottom: 1px solid #aaa;       
        li {
            list-style: none;            
            a {
                display: block;
                padding: 20px;
                text-decoration: none;
                font-family: 'Rubik', sans-serif; 
                font-weight: 500;   
            }    
        }
        li.active {
            border-bottom: 2px solid red;
        }
    }
    .tab-content {
        @include flex(row);
        margin-top: 5%;
        .tab {
            @include flex(row);
            justify-content: space-between;
            align-items: center;
            .image-sec {
                margin-right: 10%;
                position: relative;
                .shape {
                    background-color: $primarycolor1;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 20%;
                    border-radius: 100px;
                    left: -20%;
                }
                img {
                    position: relative;
                    z-index: 1;
                    left: 20%;                    
                }
            }
            .text-sec{
                padding: 5% 7% 5% 10%;
                h1 {
                    font-family: 'Rubik', sans-serif;
                    font-weight: 900;
                }
                p {
                    padding-top: 5%;
                    padding-right: 30%;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                }
                button {
                    margin-top: 5%;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                    padding: 10px 25px;
                    border-radius: 5px;
                    border: none;
                    background-color: $primarycolor1;
                    color: #fff;
                }
            }
        }
        .tab {
            display: none;
        }
        .tab.active{
            display: flex;
        }
    }
    
}
@media only screen and (max-width:1000px) and (min-width:700px) {
    .tabs {
        .tab-links {
            width: 80%;
            margin: auto 10%;
        }
        .tab-content {
            .tab {
                .image-sec {
                    .shape {
                        width: 50vw;
                        left: -25%;
                    }
                    img {
                        width: 50vw;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:700px){
    .tab-sec {
        align-items: none;
        .text-sec {
            p {
                margin: auto 5%;
                font-size: 15px;
            }
        }
    }
    .tabs {
        .tab-links {
            flex-direction: column;
            width: 90%;
            margin: auto 5%;
            text-align: center;
            border: none;
            li {
                border-bottom: 1px solid #aaa;
            }
            
        }
        .tab-content {
            flex-direction: column;
            margin-top: 20%;
            .tab {
                flex-direction: column;
                .image-sec {
                    .shape {
                        max-width: 100%;
                        left: -30%;
                    }
                    img {
                        max-width: 90%;
                        left: 10%;
                    }
                }
                .text-sec {
                    margin-top: 20%;
                    text-align: center;
                    h1 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 15px;
                        padding: 0%;
                        margin-top: 5%;
                    }
                }
            }

        }
    }
}
.extension-sec {
    margin-top: 13%;
    @include flex(column);
    align-items: center;   
    .text-sec {
        text-align: center;
        width: 35%;
        margin-bottom: 5%;
        font-family: 'Rubik', sans-serif;
        h1 {
            font-weight: 700;
        }
        p {
            margin-top: 3%;
            font-weight: 300;
            color: $neutralcolor1;
        }
    }
    .extensions {
        @include flex(row);
        width: 80%;
        font-family: 'Rubik', sans-serif;
        justify-content: space-evenly;
        .chrome {
            @include flexAlign();
            .logo-text{
                @include logoAlign();
            }
            .button-line {
                @include buttonAlign();
            }
        }
        .firefox {
            @include flexAlign();
            margin-top: 4%;
            .logo-text{
                @include logoAlign();
            }
            .button-line {
                @include buttonAlign();
            }
        }
        .opera {
            @include flexAlign();
            margin-top: 8%;
            .logo-text{
                @include logoAlign();
            }
            .button-line {
                @include buttonAlign();
            }
        }
    }
}
@media only screen and (max-width:700px){
    .extension-sec {
        .text-sec {
            width: 90%;
            margin: auto 5%;
            h1 {
                font-size: 20px;
            }
            p {
                text-align: center;
                font-size: 15px;
            }
        }
        .extensions {
            flex-direction: column;
            margin-top: 10%;
            .chrome {
                width: 90%;
                margin: 5% 5%;
            }
            .firefox {
                width: 90%;
                margin: 5% 5%;
            }
            .opera {
                width: 90%;
                margin: 5% 5%;
            }
        }
    }
}
.faq-sec {
    @include flex(column);
    align-items: center;
    width: 50%;
    margin: 10% 25% auto 25%;   
    .header-text {
        text-align: center;
        margin-bottom: 5%;
        width: 65%;
        h2 {
            margin-bottom: 3%;
            font-family: 'Rubik', sans-serif; 
            font-weight: 700;
        }
        p {
            font-family: 'Rubik', sans-serif;
            font-weight: 300;
            color: $neutralcolor1;
        }
    }
    .question-sec {
        font-family: 'Rubik', sans-serif;
        width: 70%;
        margin-bottom: 5%;
        ul {
            list-style: none;           
            .list {
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-bottom: 1px solid $neutralcolor1;                
                a {
                    text-decoration: none;
                    width: 90%;
                    line-height: 50px;
                    font-weight: 600;
                    color: $neutralcolor2;
                }
                a:hover {
                    color:$primarycolor2;
                }
                .icon {
                    width: 10%;
                    line-height: 50px;
                }
                .icon::before {
                    content: '\f107';
                    font-family: fontAwesome;
                    color: $primarycolor1;
                    font-size: 30px;
                }
                .icon.active::before {
                    content: '\f106';
                    font-family: fontAwesome;
                    color: $primarycolor2;
                }
            }
            .list.active {
                border : none;
            }
            .list:first-child {
                border-top: 1px solid $neutralcolor1;
            }
            .para {
                display: none;
                color: $neutralcolor1;
                font-weight: 500;
                margin-top: 3%;                
            }
            .para.active {
                display: block;
                
            }
        }
    }
    button {
        padding: 2% 4%;
        border-radius: 5px;
        border: none;
        background-color: $primarycolor1;
        color: #fff;
        font-weight: 500;
        text-align: center;
        font-family: 'Rubik', sans-serif;
    }
}
@media only screen and (max-width:1000px){
    .faq-sec {
        .question-sec{
            width: 100%;
        }
    }
}
@media only screen and (max-width:700px){
    .faq-sec {
        width: 90%;
        margin:20% 5%;
        .header-text{
            width: 90%;
            margin: 10% 5%;
            p {
                font-size: 15px;
            }
        }
        .question-sec {
            font-size: 13px;
            .list {
                a {
                    width: 95%;
                }
                .icon {
                    width: 5%;
                }
            }
        }
    }
}
footer {
    @include flex(column);
    margin-top: 8%;
    .mail-sec {
        @include flex(column);
        align-items: center;
        width: 100%;
        background-color: $primarycolor1;
        font-family: 'Rubik', sans-serif;
        padding-bottom: 3%;
        .text-sec {
            text-align: center; 
            margin-bottom: 2%;
            p {
                font-family: 'Rubik', sans-serif;
                font-weight: 300;
                color: #fff;
                margin: 10% auto 5% auto;
            }
            h2 {
                color: #fff;
                font-family: 'Rubik', sans-serif;
                font-weight: 700;
                letter-spacing: 1px;
                width: 80%;
                margin: auto 10%;
            }
        }
        .input-sec {
            width: 100%;
            form {
                width: 40%;
                margin: auto 30%;
                .mail-input {
                    @include flex(column);
                    width: 50%;
                    float: left;
                    margin:auto 5% auto 18%;
                    input {
                        padding: 4%;
                        border: 2px solid transparent;
                        border-radius: 5px;
                    }
                    input:focus {
                        border: 2px solid $primarycolor2;
                    }
                    .mail-input-error {
                        visibility:hidden;
                        padding: 0.5vw;
                        background-color: $primarycolor2;
                        font-style: italic;
                        font-family: 'Rubik', sans-serif;
                        font-weight: 700;
                        color: #fff;
                    }
                    input:focus:invalid + .mail-input-error {
                        visibility: visible;
                    }
                }
                button {
                    width: 20%;
                    padding: 2%;
                    border: 1px solid $primarycolor2;
                    border-radius: 5px;
                    background-color: $primarycolor2;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 600;
                    color: #fff;
                    font-size: 1vw;
                }
                button:hover {
                    background-color: #fff;
                    color: $primarycolor2;
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        } 
    }
    nav {
        background-color: $neutralcolor2;
        width: 100%;
        display: flex;
        padding: 20px;
        ul {
            @include flex(row);
            list-style: none;
            margin-left: 10%;
            width: 80%;
            li {
                width: 5%;
                margin: auto 5%;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 300;
                    font-size: 1em;
                }
                a:hover {
                    color: $primarycolor2;
                }
            }
        }
        .social-icons {
            @include flex(row);
            margin-right: 10%;
            width: 20%;            
            a {
                color: #fff;
                margin-right: 20%;
                font-size: 1.3em;
            }
            a:hover {
                color: $primarycolor2;
            }
        }
    }
}
@media only screen and (max-width: 700px){
    footer {
        .mail-sec {
            .input-sec {
                form {
                    width: 80%;
                    margin: auto 10%;
                    .mail-input {
                        width: 100%;
                        float: none;
                        margin: 7% auto;
                        
                    }
                    button {
                        width: 100%;
                        padding: 4%;
                        font-size: 15px;
                        margin-bottom: 10%;
                    }
                }
            }
        }
        nav {
            flex-direction: column;
            padding: 0%;
            width: 100%;
            text-align: center;
            padding-bottom: 10%;
            ul {
                flex-direction: column;
                margin: 10% 0%;
                width: 100%;                
                img {
                    margin-bottom: 5%;
                }
                li {
                    width: 100%;
                    margin: 0%;
                    a {
                        display: block;
                        padding: 5% 10%;
                    }
                }
            }
            .social-icons {
                width: 20%;
                margin: auto 40%;
                justify-content: space-between;
                a {
                    margin: 0%;
                }
            }
        }
    }
}