$primarycolor1:  hsl(231, 69%, 60%);
$primarycolor2 :  hsl(0, 94%, 66%);
$neutralcolor1 : hsl(229, 8%, 60%);
$neutralcolor2 : hsl(229, 31%, 21%);

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    padding: 0%;
    margin: 0%;
}
body {
    overflow-x: hidden;
}
header {
   
    width: 80%;
    margin: 3% 10%;
    .logo {
        float: left;
        width: 20%;
        padding: 5px;
    }
    nav {
        float: right;
        width: 60%;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            li {
                padding: 10px;
                
                a {
                    text-decoration: none;
                    
                }
                #login-item {
                    color: #fff;
                }
            }
            #last-child{
                background-color: $primarycolor2;
                padding: 10px 35px;
                border-radius: 7px;
            }
        }
    }
    .clearfix {
        clear: both;
        margin-bottom: 5%;
    }
}
.hero-sec {
    display: flex;
    justify-content: space-between;
    .text-sec {
        display: flex;
        flex-direction: column;
        padding: 5% 7% 5% 10%;
        h1 {
            font-family: 'Rubik', sans-serif;
            font-weight: 900;
        }
        p {
            padding-top: 5%;
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
        }
        .hero-buttons {
            padding-top: 5%;
            display: flex;
            #btn-1 {
                margin-right: 10%;
                color: #fff;
                background-color: $primarycolor2;
            }
            #btn-2 {
                
                color: black;
            }
            button {
                font-family: 'Rubik', sans-serif;
                font-weight: 400;
                padding: 15px;
                border-radius: 5px;
                border: none;
            }
        }
    }
    .hero-img {
        
        .shape {
            background-color: $primarycolor1;
            height: 50vh;
            width: 40vw;
            position: absolute;
            z-index: 0;
            top: 45vh;
            right: -10%;
            border-radius: 100px;
            
        }
        img {
            position: relative;
            z-index: 1;
            right: 5%;
        }
    }
}

.tab-sec {
    margin-top: 5%;
    .text-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-family: 'Rubik', sans-serif; 
            margin-bottom: 2%;
        }
        p {
            margin: auto 32%;
            text-align: center;
            font-family: 'Rubik', sans-serif; 
        }
    }
    
}
.tabs {
    width: 100%;
    .tab-links {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto 25%;
        border-bottom: 1px solid #aaa;
        
        li {
            list-style: none;
            
            a {
                display: block;
                padding: 20px;
                text-decoration: none;
                font-family: 'Rubik', sans-serif; 
                font-weight: 500;
                
            }
            
        }
        li.active {
            border-bottom: 2px solid red;
        }
    }
    .tab-content {
        display: flex;
        margin-top: 5%;
        position: relative;
        .tab {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .image-sec {
                margin-right: 10%;
                .shape {
                    background-color: $primarycolor1;
                    height: 50vh;
                    width: 45vw;
                    position: absolute;
                    z-index: 0;
                    top: 15vh;
                    border-radius: 100px;
                    left: -10%;
                }
                img {
                    position: relative;
                    z-index: 1;
                    left: 20%;
                    
                }
            }
            .text-sec{
                padding: 5% 7% 5% 10%;
                h1 {
                    font-family: 'Rubik', sans-serif;
                    font-weight: 900;
                }
                p {
                    padding-top: 5%;
                    padding-right: 30%;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                }
                button {
                    margin-top: 5%;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                    padding: 10px 25px;
                    border-radius: 5px;
                    border: none;
                    background-color: $primarycolor1;
                    color: #fff;
                }
            }
        }
        .tab {
            display: none;
        }
        .tab.active{
            display: flex;
        }
    }
    
}