$primarycolor1:  hsl(231, 69%, 60%);
$primarycolor2 :  hsl(0, 94%, 66%);
$neutralcolor1 : hsl(229, 8%, 60%);
$neutralcolor2 : hsl(229, 31%, 21%);

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    padding: 0%;
    margin: 0%;
}
body {
    overflow-x: hidden;
}
header {
   
    width: 80%;
    margin: 3% 10%;
    .logo {
        float: left;
        width: 20%;
        padding: 5px;
    }
    nav {
        float: right;
        width: 60%;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            li {
                padding: 10px;
                
                a {
                    text-decoration: none;
                    
                }
                #login-item {
                    color: #fff;
                }
            }
            #last-child{
                background-color: $primarycolor2;
                padding: 10px 35px;
                border-radius: 7px;
            }
        }
    }
    .clearfix {
        clear: both;
        margin-bottom: 5%;
    }
}
.hero-sec {
    display: flex;
    justify-content: space-between;
    .text-sec {
        display: flex;
        flex-direction: column;
        padding: 5% 7% 5% 10%;
        h1 {
            font-family: 'Rubik', sans-serif;
            font-weight: 900;
        }
        p {
            padding-top: 5%;
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
        }
        .hero-buttons {
            padding-top: 5%;
            display: flex;
            #btn-1 {
                margin-right: 10%;
                color: #fff;
                background-color: $primarycolor2;
            }
            #btn-2 {
                
                color: black;
            }
            button {
                font-family: 'Rubik', sans-serif;
                font-weight: 400;
                padding: 15px;
                border-radius: 5px;
                border: none;
            }
        }
    }
    .hero-img {
        position: relative;
        .shape {
            background-color: $primarycolor1;
            height: 80%;
            width: 100%;
            position: absolute;
            z-index: -1;
            top: 20%;
            right: -20%;
            border-radius: 100px;
            
        }
        img {
            
            z-index: 1;
            right: 5%;
        }
    }
}

.tab-sec {
    margin-top: 5%;
    .text-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-family: 'Rubik', sans-serif; 
            margin-bottom: 2%;
        }
        p {
            margin: auto 32%;
            text-align: center;
            font-family: 'Rubik', sans-serif; 
        }
    }
    
}
.tabs {
    width: 100%;
    .tab-links {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto 25%;
        border-bottom: 1px solid #aaa;
        
        li {
            list-style: none;
            
            a {
                display: block;
                padding: 20px;
                text-decoration: none;
                font-family: 'Rubik', sans-serif; 
                font-weight: 500;
                
            }
            
        }
        li.active {
            border-bottom: 2px solid red;
        }
    }
    .tab-content {
        display: flex;
        margin-top: 5%;
       // position: relative;
        .tab {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .image-sec {
                margin-right: 10%;
                position: relative;
                .shape {
                    background-color: $primarycolor1;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 20%;
                    border-radius: 100px;
                    left: -20%;
                }
                img {
                    position: relative;
                    z-index: 1;
                    left: 20%;
                    
                }
            }
            .text-sec{
                padding: 5% 7% 5% 10%;
                h1 {
                    font-family: 'Rubik', sans-serif;
                    font-weight: 900;
                }
                p {
                    padding-top: 5%;
                    padding-right: 30%;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                }
                button {
                    margin-top: 5%;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 400;
                    padding: 10px 25px;
                    border-radius: 5px;
                    border: none;
                    background-color: $primarycolor1;
                    color: #fff;
                }
            }
        }
        .tab {
            display: none;
        }
        .tab.active{
            display: flex;
        }
    }
    
}
.extension-sec {
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .text-sec {
        text-align: center;
        width: 35%;
        margin-bottom: 5%;
        font-family: 'Rubik', sans-serif;
        h1 {
            font-weight: 700;
        }
        p {
            margin-top: 3%;
            font-weight: 300;
            color: $neutralcolor1;
        }
    }
    .extensions {
        display: flex;
        width: 80%;
        font-family: 'Rubik', sans-serif;
        justify-content: space-evenly;
        .chrome {
            display: flex;
            flex-direction: column;
            text-align: center;
            -webkit-box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            -moz-box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            width: 27%;
            height: 100%;
            padding-bottom: 2%;
            border-radius: 10px;
            .logo-text{
                margin:10% auto;
                
                h3 {
                    font-weight: 700;
                }
                p {
                    font-weight: 300;
                    color: $neutralcolor1;
                    font-size: 15px;
                }
            }
            .button-line {
                img {
                    margin-bottom: 5%;
                    width: 90%;
                }
                button {
                    padding: 5% 2%;
                    width: 80%;
                    background-color: $primarycolor1;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                    color: #fff;
                    
                }
                button:hover {
                    background-color: #fff;
                    color: $primarycolor1;
                    border: 1px solid $primarycolor1;
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        }
        .firefox {
            display: flex;
            flex-direction: column;
            text-align: center;
            -webkit-box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            -moz-box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            width: 27%;
            margin-top: 4%;
            height: 100%;
            padding-bottom: 2%;
            border-radius: 10px;
            .logo-text{
                margin:10% auto;
                h3 {
                    font-weight: 700;
                }
                p {
                    font-weight: 300;
                    color: $neutralcolor1;
                    font-size: 15px;
                }
            }
            .button-line {
                img {
                    margin-bottom: 5%;
                    width: 90%;
                }
                button {
                    padding: 5% 2%;
                    width: 80%;
                    background-color: $primarycolor1;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                    color: #fff;
                    
                }
                button:hover {
                    background-color: #fff;
                    color: $primarycolor1;
                    border: 1px solid $primarycolor1;
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        }
        .opera {
            display: flex;
            flex-direction: column;
            text-align: center;
            -webkit-box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            -moz-box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            box-shadow: -1px 10px 10px 0px rgba(186,180,186,0.8);
            width: 27%;
            margin-top: 8%;
            height: 100%;
            padding-bottom: 2%;
            border-radius: 10px;
            .logo-text{
                margin:10% auto;
                h3 {
                    font-weight: 700;
                }
                p {
                    font-weight: 300;
                    color: $neutralcolor1;
                    font-size: 15px;
                }
            }
            .button-line {
                img {
                    margin-bottom: 5%;
                    width: 90%;
                }
                button {
                    padding: 5% 2%;
                    width: 80%;
                    background-color: $primarycolor1;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                    color: #fff;
                    
                }
                button:hover {
                    background-color: #fff;
                    color: $primarycolor1;
                    border: 1px solid $primarycolor1;
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        }
    }
}
.faq-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10% 25% auto 25%;
    
    .header-text {
        text-align: center;
        margin-bottom: 5%;
        width: 65%;
        h2 {
            margin-bottom: 3%;
            font-family: 'Rubik', sans-serif; 
            font-weight: 700;
        }
        p {
            font-family: 'Rubik', sans-serif;
            font-weight: 300;
            color: $neutralcolor1;
        }
    }
    .question-sec {
        font-family: 'Rubik', sans-serif;
        width: 70%;
        margin-bottom: 5%;
        ul {
            list-style: none;
           
            .list {
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-bottom: 1px solid $neutralcolor1;
                
                a {
                    text-decoration: none;
                    width: 90%;
                    line-height: 50px;
                    font-weight: 600;
                    color: $neutralcolor2;
                }
                a:hover {
                    color:$primarycolor2;
                }
                .icon {
                    width: 10%;
                    line-height: 50px;
                }
                .icon::before {
                    content: '\f107';
                    font-family: fontAwesome;
                    color: $primarycolor1;
                    font-size: 30px;
                }
                .icon.active::before {
                    content: '\f106';
                    font-family: fontAwesome;
                    color: $primarycolor2;
                }
            }
            .list.active {
                border : none;
            }
            .list:first-child {
                border-top: 1px solid $neutralcolor1;
            }
            .para {
                display: none;
                color: $neutralcolor1;
                font-weight: 500;
                margin-top: 3%;
                
            }
            .para.active {
                display: block;
                
            }
        }
    }
    button {
        padding: 2% 4%;
        border-radius: 5px;
        border: none;
        background-color: $primarycolor1;
        color: #fff;
        font-weight: 500;
        text-align: center;
        font-family: 'Rubik', sans-serif;
    }
}
footer {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    .mail-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $primarycolor1;
        font-family: 'Rubik', sans-serif;
        padding-bottom: 3%;
        .text-sec {
            text-align: center;
            
            margin-bottom: 2%;

            p {
                font-family: 'Rubik', sans-serif;
                font-weight: 300;
                color: #fff;
                margin: 10% auto 5% auto;
            }
            h2 {
                color: #fff;
                font-family: 'Rubik', sans-serif;
                font-weight: 700;
                letter-spacing: 1px;
                width: 80%;
                margin: auto 10%;
            }
        }
        .input-sec {
            width: 100%;
            form {
                width: 40%;
                margin: auto 30%;
                .mail-input {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    float: left;
                    margin:auto 5% auto 18%;

                    input {
                        padding: 0.7vw;
                        border: 2px solid transparent;
                        border-radius: 5px;
                    }
                    input:focus {
                        border: 2px solid $primarycolor2;
                    }
                    .mail-input-error {
                        visibility:hidden;
                        padding: 0.5vw;
                        background-color: $primarycolor2;
                        font-style: italic;
                        font-family: 'Rubik', sans-serif;
                        font-weight: 700;
                        color: #fff;
                    }
                    input:focus:invalid + .mail-input-error {
                        visibility: visible;
                    }
                }
                button {
                    width: 20%;
                    padding: 0.7vw;
                    border: 1px solid $primarycolor2;
                    border-radius: 5px;
                    background-color: $primarycolor2;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 600;
                    color: #fff;
                    font-size: 1vw;
                }
                button:hover {
                    background-color: #fff;
                    color: $primarycolor2;
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        }
            
            
        
    }
    nav {
        background-color: $neutralcolor2;
        width: 100%;
        display: flex;
        padding: 20px;
        ul {
            display: flex;
            list-style: none;
            margin-left: 10%;
            list-style: none;
            width: 80%;
            li {
                width: 5%;
                margin: auto 5%;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 300;
                    font-size: 1em;
                }
                a:hover {
                    color: $primarycolor2;
                }
            }
        }
        .social-icons {
            display: flex;
            margin-right: 10%;
            width: 20%;
            
            a {
                color: #fff;
                margin-right: 20%;
                font-size: 1.3em;
            }
            a:hover {
                color: $primarycolor2;
            }
        }
    }
}