@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

body {
  overflow-x: hidden;
}

header {
  width: 80%;
  margin: 3% 10%;
}

header .logo {
  float: left;
  width: 20%;
  padding: 5px;
}

header nav {
  float: right;
  width: 60%;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav ul li {
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li #login-item {
  color: #fff;
}

header nav ul #last-child {
  background-color: #fa5757;
  padding: 10px 35px;
  border-radius: 7px;
}

header .clearfix {
  clear: both;
  margin-bottom: 5%;
}

.hero-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-sec .text-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 7% 5% 10%;
}

.hero-sec .text-sec h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}

.hero-sec .text-sec p {
  padding-top: 5%;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.hero-sec .text-sec .hero-buttons {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-sec .text-sec .hero-buttons #btn-1 {
  margin-right: 10%;
  color: #fff;
  background-color: #fa5757;
}

.hero-sec .text-sec .hero-buttons #btn-2 {
  color: black;
}

.hero-sec .text-sec .hero-buttons button {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.hero-sec .hero-img .shape {
  background-color: #5368df;
  height: 50vh;
  width: 40vw;
  position: absolute;
  z-index: 0;
  top: 45vh;
  right: -10%;
  border-radius: 100px;
}

.hero-sec .hero-img img {
  position: relative;
  z-index: 1;
  right: 5%;
}

.tab-sec {
  margin-top: 5%;
}

.tab-sec .text-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-sec .text-sec h1 {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 2%;
}

.tab-sec .text-sec p {
  margin: auto 32%;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.tabs {
  width: 100%;
}

.tabs .tab-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: auto 25%;
  border-bottom: 1px solid #aaa;
}

.tabs .tab-links li {
  list-style: none;
}

.tabs .tab-links li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.tabs .tab-links li.active {
  border-bottom: 2px solid red;
}

.tabs .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  position: relative;
}

.tabs .tab-content .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs .tab-content .tab .image-sec {
  margin-right: 10%;
}

.tabs .tab-content .tab .image-sec .shape {
  background-color: #5368df;
  height: 50vh;
  width: 45vw;
  position: absolute;
  z-index: 0;
  top: 15vh;
  border-radius: 100px;
  left: -10%;
}

.tabs .tab-content .tab .image-sec img {
  position: relative;
  z-index: 1;
  left: 20%;
}

.tabs .tab-content .tab .text-sec {
  padding: 5% 7% 5% 10%;
}

.tabs .tab-content .tab .text-sec h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}

.tabs .tab-content .tab .text-sec p {
  padding-top: 5%;
  padding-right: 30%;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.tabs .tab-content .tab .text-sec button {
  margin-top: 5%;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: #5368df;
  color: #fff;
}

.tabs .tab-content .tab {
  display: none;
}

.tabs .tab-content .tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */